<!-- Game Rule Dialog -->
  <div class="modal fade rule-modal" tabindex="-1" role="dialog" aria-labelledby="ruleTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="ruleTitle">Blackjack Game Rule</h4>
        </div>
        <div class="modal-body">
           <%= erb :game_rule_content %>
        </div>
      </div>
    </div>
  </div>




